<div id="right">
    <h2>Lorem Ipsum</h2>
    <p>Nunc pellentesque. Sed vestibulum blandit nisl. Quisque elementum convallis purus. Suspendisse potenti. Donec nulla est, laoreet quis, pellentesque in. <a href="http://web-mastery.info/">More&#8230;</a></p>
    <h2>Ipsum Dolorem</h2>
    <ul>
      <li><a href="http://web-mastery.info/">Sagittis Bibendum Erat</a></li>
      <li><a href="http://web-mastery.info/">Malesuada Turpis</a></li>
      <li><a href="http://web-mastery.info/">Quis Gravida Massa</a></li>
      <li><a href="http://web-mastery.info/">Inerat Viverra Ornare</a></li>
    </ul>
  </div>
  <div>
    <p>&nbsp;</p>
  </div>


</div>